html,
body,
#root
{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000; 
    -webkit-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar { width: 0 !important }

*{
  margin: 0;
  padding : 0;
  scrollbar-width: none;
}

canvas{
    position: fixed;
    z-index: 1;
}
#smooth-wrapper{
  z-index: 10;
}
.container{
  position: absolute;
  top : 0;
  width: 100%;
  height: 5000vh;
}

@font-face {
  font-family: cinzel;
  src: url('../../public/font/Cinzel-VariableFont_wght.ttf');
}

.scrollIndication{
  display: none;
  font-family: cinzel;
  font-weight: 550;
  position: fixed;
  z-index: 15;
  top : 95vh;
  left : 0%;
  width: 10%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color : #a6e9f4;
  font-size: 1.1em;
}

.scrollIndication div{
  display: none;
  width: 2.5vw;
  border-radius: 5px;
  height: 0.1vw;
  background-color: #a6e9f4;
}

.fakeMenu{
  display: none;
  position: fixed;
  z-index: 15;
  top : 1vw;
  right: 1vw;
  width: 3vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.fakeMenu span{
  display: none;
  height: 0.15vw;
  background-color: #a6e9f4;
  border-radius: 5px;
}
.fakeMenu :nth-child(1){ width: 100% }
.fakeMenu :nth-child(2){ width: 75% }
.fakeMenu :nth-child(3){ width: 50% }